body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#f5f5f5;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  text-align:center;
}

h1{
  color:#0B6E3D;
  font-size:40px;
}

p{
  color:#555;
  font-size:20px;
}
